<% if position != '__tweet_modal' %>
    <div class="container">
<% end %>
<% @tweets.each do |tweet| %>
    <div class="panel panel-default <%= position %> tweet_panel" id="tweet_panel_<%= tweet["id"] %>" tweet="<%= tweet.slice("id", "reply_index", "username").to_json.gsub('"', "'") %>">
      <div class="panel-heading">
          <a href="/user/<%= tweet["sender_id"] %>" class="navbar-link" id="tweet_sender_name_<%= tweet["id"] %>"><%= tweet["name"] %></a>
      </div>
      <div class="panel-body">
        <span id="tweet_content_<%= tweet["id"] %>"><%= tweet["content"] %></span>
        <br>
        <h5><small><%= tweet["created"] %></small></h5>
        <% if @logged_in_user && tweet["sender_id"] != @logged_in_user["id"] %>
            <a tweet-id="<%= tweet["id"] %>" class="retweet">retweet</a>
            &nbsp;&nbsp;
            <% if tweet["id"] %>
            <a class="modal_access <%= position %> reply">reply @<%= tweet["username"] %></a>
            &nbsp;&nbsp;
            <% end %>
        <% end %>
        <% if position != '__tweet_modal' && position != '__tweet' && tweet["id"] %>
            <a class="modal_access <%= position %> details">details</a>
        <% end %>
      </div>
    </div>
<% end %>
<% if position != '__tweet_modal' %>
</div> <!-- /container -->
<% end %>
